/**
 *
 * Hamburguer menu
 *
 */

@media screen and (max-width:700px) {
	.hamburger {
		width: 40px;
		height: auto;
		position: fixed;
		cursor: pointer;
		left: 15px;
		top: 15px;
		z-index: 30;
		border-radius: 5px;
	}

	.x {
		width: 40px;
		height: auto;
		position: relative;
		cursor: pointer;
		margin: 15px 15px 15px 15px;
		z-index: 30;
	}

	nav {
		height: 100%;
		position: fixed;    /* This trasform moves the drawer off canvas. */
		-webkit-transform: translate(-600px, 0);
		transform: translate(-600px, 0);    /* Optionally, we animate the drawer. */
		transition: transform 0.3s ease;
	}

	nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:301px) {
	.scores-table {
		font-size: 1em;
	}

	.weather-next-item {
		font-size: 1.2em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:366px) {
	.news-title,
	.sports-title,
	.weather-title {
		font-size: 1.3em;
	}

	.header-title {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}

	.weather-today-temp-num {
		font-size: 2.5em;
	}

	.weather-today-temp-deg {
		font-size: 2.0em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:451px) {
	#drawer {
		width: 80%;
	}

	.weather-next-item {
		font-size: 1.5em;
	}

	.snippet {
		font-size: 1.5em;
	}

	.img-twitter {
		width: 35px;
	}

	.img-rss {
		width: 37px;
	}

	.img-contact-us {
		width: 38px;
	}
}

/**
 *
 * Scores table columns
 *
 */

@media screen and (max-width:400px) {
	.scores-table,
	.scores-table thead,
	.scores-table tbody,
	.scores-table th,
	.scores-table tr {
		display: block;
	}

	.scores-table td {
		display: flex;
	}

	/*Hides table headers (without using display: none; for accessibility)*/
	.scores-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.scores-table tr {
		border: 1px solid #ccc;
	}

	.scores-table td {

		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		padding-top: 7px;
		white-space: normal;
		text-align: left;
		min-height: 15px;
	}

	.scores-table td:before {

		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
		/*Label the data*/
		content: attr(data-title);
		text-transform: uppercase;
		display: flex;
		align-items: center;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:501px) {
	.scores-table {
		font-size: 1.4em;
	}
}

/**
 *
 * Returning to normal menu and size increase
 *
 */

@media screen and (min-width:701px) {
	/*Menu*/
	.hamburger,
	.x {
		display: none !important;
	}

	.nav {
		top: 0;
		position: sticky;
		padding: 0;
	}

	.nav-item {
		display: inline-block;
		font-size: 1.75em;
		width: 24%;
		margin: 0;
		padding: 5px;
	}

	/**
	 *
	 * Size increase
	 *
	 */

	article.description {
		font-size: 1.5em;
	}

	.news-title {
		font-size: 2em;
	}

	.top-news-item {
		font-size: 1.7em;
	}

	.sports-title {
		font-size: 2em;
	}

	.scores-table {
		font-size: 1.3em;
	}

	.scores-location {
		display: table-cell;
	}

	.scores-table td:nth-child(2){
		text-align: center;
	}

	.weather-title {
		font-size: 2em;
	}

	.weather-next-item {
		font-size: 1.9em;
	}

	.snippet {
		font-size: 1.7em;
	}

	.snippet-text {
		display: inline;
	}

	.img-twitter {
		width: 50px;
	}

	.img-rss {
		width: 52px;
	}

	.img-contact-us {
		width: 48px;
	}
}

/**
 *
 * Size increase & Column "undrop"
 *
 */

@media screen and (min-width:931px) {
	.scores {
		width: 60%;
		display: block;
		padding: 1em 0.5em 1em 1em;
	}

	.scores-table {
		font-size: 1.6em;
	}

	.scores-table td {
		padding: 0.4em 0 0.4em 0;
	}

	.sports-title {
		padding: 3px 0 3px 5px;
		box-sizing: border-box;
	}

	.weather {
		width: 40%;
		padding: 1em 1em 1em 0.5em;
	}

	.weather-today-image {
		max-width: 100px;
	}

	.snippet-thumbnail {
		float: left;
		max-width: 250px;
	}

	.scores-location {
		display: none;
	}
}