/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

img,
embeb,
object,
video {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
}

body {
  font-family: Roboto;
  font-size: 13px;
  color: #424242;
}

.main {
  max-width: 1400px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  width: 100%;
  -webkit-box-shadow: inset 200px 0px 85px -5px rgba(185, 164, 81, 1);
  -moz-box-shadow: inset 200px 0px 85px -5px rgba(185, 164, 81, 1);
  box-shadow: inset 200px 0px 85px -5px rgba(185, 164, 81, 1);
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

header,
footer,
section,
article,
div {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article.description {
  font-size: 1.2em;
}

/**
 *
 * Header
 *
 */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header-inner {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  display: block;
}

.header-logo {
  height: 60%;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  margin: 12px 0 0 0;
}

.header-title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.15em 0 0.3em 0;
  font-family: "Merienda One";
  text-shadow: 4px 4px 4px #aaa;
  color: #766d4e;
}

/**
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 5px 0;
  z-index: 10;
  top: 0;
  background-color: #78704f;
  opacity: 0.95;
  box-shadow: 0 2px 5px rgba(118, 109, 78, 0.7);
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-item {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  display: block;
  margin: 0 0 10px 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #212121;
}

/**
 *
 * Main
 *
 */

main {
  width: 80%;
  margin: 0 auto 0 auto;
}

/**
 *
 * Content
 *
 */

.content {
  box-shadow: 0 2px 5px rgba(118, 109, 78, 0.7);
}

/**
 *
 * Hero
 *
 */

.hero {
  height: 100%;
  min-height: 300px;
  width: auto;
  position: relative;
  background-image: url("../img/news/newyork.jpg");
  background-size: cover;
}

.hero article {
  box-sizing: border-box;
  background-color: rgba(171, 158, 115, 0.8);
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}

/**
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  height: auto;
  border-bottom: 0;
  padding: 1em;
}

.news-title {
  padding: 3px 0 3px 5px;
}

.top-news-item {
  border-bottom: 1px solid rgba(118, 109, 78, 0.3);
  padding: 1em 0;
  line-height: 19.2px;
  font-size: 1.2em;
}

.top-news-item:last-child {
  border-bottom: none;
}

.top-news-item a {
  text-decoration: none;
  color: #666;
}

.top-news-item a:hover,
.top-news-item a:active {
  text-decoration: underline;
}

/**
 *
 * Sport Scores
 *
 */

.sports-title {
  margin: 0 0 5px 0;
  padding: 3px 0 3px 5px;
}

.scores {
  width: 100%;
  float: left;
  padding: 1em;
}

.scores-table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
  font-size: 0.9em;
}

.scores-table th,
.scores-table td {
  padding: 0.1em;
}

.scores-table th {
  color: #fff;
  font-weight: bold;
  background-color: #d6bc53;
  opacity: 0.80;
  text-transform: uppercase;
}

.scores-table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores-table tr:nth-child(even) td {
  background-color: #f2f0c6;
}

.scores-table td.winner {
  font-weight: bold;
}

.scores-table td:nth-child(4) {
  text-align: right;
}

.scores-table td:nth-child(3),
.scores-table td:nth-child(6) {
  text-align: center;
}

.scores-date,
.scores-location {
  display: none;
}

/**
 *
 * Weather
 *
 */

.weather {
  width: 100%;
  padding: 1em;
}

.weather-title {
  margin: 0 0 5px 0;
  padding: 3px 0 3px 5px;
}

.weather-location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather-desc {
  display: block;
  width: 100%;
  font-size: 1.3em;
}

.weather-today {
  width: 100%;
  align-items: center;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.weather-today-image {
  min-width: 100px;
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
}

.weather-today-temp {
  display: table-cell;
  vertical-align: middle;
}

.weather-today-temp-num {
  font-size: 1.8em;
}

.weather-today-temp-deg {
  font-size: 1.3em;
}

.weather-next {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  text-align: center;
  margin: 0 auto 0 auto;
}

.weather-next-item {
  text-align: center;
  width: 20%;
  height: auto;
  font-size: 1.1em;
}

.weather-next-item span {
  display: block;
}

.weather-next-image {
  width: 75%;
  max-width: 95px;
}

/**
 *
 * Latest news
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 10px 0 20px;
  font-size: 1.2em;
  display: inline-block;
}

.snippet-title {
  margin: 0 0 10px 0;
  font-size: 1.4em;
  font-weight: 500;
}

.snippet-title a {
  text-decoration: none;
  color: #666;
}

.snippet-title a:hover,
.snippet-title a:active {
  text-decoration: underline;
}

.snippet-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 10px 10px 0;
}

.snippet-thumbnail:hover {
  opacity: 0.7;
}

.snippet-text {
  margin: 0 0 0 0;
}

/**
 *
 * Footer
 *
 */

footer {
  padding: 1em;
  width: 100%;
  font-size: 1.1em;
}

footer ul {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(118, 109, 78, 0.3);
  padding: 0 0 10px 0;
}

footer li {
  display: inline;
  margin: 0 0.5em;
}

footer a {
  text-decoration: none;
  color: #666046;
}

footer a:hover {
	color: #ab9b5a;
}

.footer-credits {
  font-size: 0.9em;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
}

.footer-credits-title {
  font-weight: 600;
}

.img-twitter {
  width: 30px;
  height: auto;
}

.img-rss {
  width: 32px;
  height: auto;
}

.img-contactus {
  width: 30px;
  height: auto;
}

.backtotop {
  width: 40px;
  height: auto;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 31;
  border-radius: 5px;
  cursor: pointer;
}

.backtotop-visible {
  transition: opacity 1s linear;
  opacity: 1;
  display: block;
}

.backtotop-hidden {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}